/bootstrap/compiled.php
/vendor/bin
/vendor/classpreloader
/vendor/composer
/vendor/d11wtq
/vendor/eluceo
/vendor/filp
/vendor/binircmaxel
/vendor/jeremeamia
/vendor/laravel
/vendor/monolog
/vendor/nesbot
/vendor/nikic
/vendor/patchwork
/vendor/phpseclib
/vendor/predis
/vendor/psr
/vendor/stack
/vendor/swiftmailer
/vendor/symfony
/vendor/autoload.php
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea
/app/config/database.php