/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea
/app/config/local
.sass-cache
node_modules
Vagrantfile
bower_components
public/css/calendar.css
public/css/calendar.css.map
