$nav-height: 60px;
$blue: #8fafc6;
$blue-light: mix(#fff,$blue,7%);

nav {
  height: $nav-height;
  background-color: rgba($blue-light, .95);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  @media (max-width: 827px) {
    height: auto;
    min-height: $nav-height;
  }

  .container {
    height: $nav-height;

    @media (max-width: 992px) {
      width: 100%;
    }

    .mobile-header {
      display: none;
      height: $nav-height;

      width: 100%;
      i, i:hover {
        height: 50px;
        margin: 0;
        line-height: 38px;
        padding: 10px 0;
        color: #fff
      }
    }
    @media (max-width: 827px) {
      height: auto;
      min-height: $nav-height;
      .mobile-header {
        display: block;
      }
    }

  }

  ul.nav {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    height: $nav-height;
    line-height: $nav-height;

    li {
      display: inline-block;
      @media (max-width: 827px) {
        display: block;
        width: 100%;

        &.brand {
          // hide logo in menu
          display: none;
        }
      }

      margin: 0;
      padding: 0;
      height: $nav-height;
      list-style: none;

    }
  }
  a {
    display: inline-block;
    @media (max-width: 827px) {
      display: block;
      width: 100%;
      margin: 0;
    }
    margin: 0 15px;
    height: $nav-height;

    color: #fff;
    font-size: 19px;

    &:hover {
      border-bottom: 3px solid #fff;
      background: none;
      text-decoration: none;
      color: #fff;
      @media (max-width: 827px) {
        border-bottom: none;
      }
    }
    &.brand:hover {
      border-bottom: none;
    }
  }
  img {
    padding: 10px 0;
    @media (min-width: 827px) {
      padding-top: 0;
    }
    max-height: $nav-height - 10px;
  }
}
