@import "compass";

/* General elements
---------------------- */
// Colors


$pink: #f50064;
$darkpink: #ab0046;
$lightpink: #f95a93;
$darkblue: #108a98;
$blue: #00cde1;
$lightblue: #46ddea;
$lighterblue: #9bd2db;
$hoverblue: #b3e9f0;
$yellow: #e9e34b;
$lightyellow: #f0eb72;
$darkyellow: #c9c315;
$darkgrey: #333;
$grey: #556066;
$lightgrey: #f5f5f5;

// Breakpoints
$break-small: 320px;
$break-medium: 768px;
$break-large: 1024px;
$break-xlarge: 1200px;

// Fonts
$sans-serif: 'Open Sans', 'Helvetica', sans-serif;
$times: 'Times New Roman', serif;

// Buttons
@mixin btn-educal($bgcolor, $color, $bghover, $bordercolor){
  background: $bgcolor;
  border: none;
  border-bottom: 3px solid $bordercolor;
  color: $color;
  @include text-shadow(none);
  &:hover, &:focus{
    background: $bghover;
    color: $color;
    border-bottom: 3px solid $bordercolor;
  }
  &:active{
    border: none;
    position: relative;
    top: 3px;
    margin-bottom: 3px !important;
  }
}

.btn-educal-primary{
  @include btn-educal($pink, #fff, $lightpink, $darkpink);
}

.btn-educal-secondary{
  @include btn-educal($yellow, #8c8610, $lightyellow, $darkyellow);
}

// HTML
body{
  background: #fff;
  font-family: $sans-serif;
  color: $grey;
  @media screen and (max-width: $break-medium){
    padding-top: 50px;
  }
}

a{
  color: $pink;
  &:hover{
    color: $lightpink;
  }
}
img{
  max-width: 100%;
}

/* NAVBAR
---------------------- */

#navbar-educal{
  background: #fff;
  color: #fff;
  height: 50px;
  border: 0;
  z-index: 1060;
  display: none;
  .navbar-toggle{
    border: 0;
    &:hover, &:focus{
      background-color: $blue;
      border: 0;
      .icon-bar{
        background-color: #fff;
      }
    }
    &:target{
      background: none;
    }
  }
  .navbar-toggle .icon-bar{
    background-color: $blue;
  }

  @media screen and (max-width: $break-medium){
    display: block;
  }
}

#navbar-logo{
  background: url("images/logo_educal.png") left top no-repeat;
  width: 188px;
  height: 45px;
  margin: 2px 0 0 0;
  @media screen and (max-width: $break-medium){
    margin-left: 15px;
  }
}

/* SIDEBAR
---------------------- */

.sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1050;
  background: #fff;
  //border-right: 1px solid #ddd;
  @include box-shadow(rgba(0, 0, 0, 0.3) 0px 0px 5px);
  a{
    text-decoration: none;
  }
}

// <ul>...</ul>
#accordion {
  color: $blue;
  list-style: none;
  font-size: 12px;
  padding: 0 0 0 33px;
  margin: 0 auto;
  .active{

  }
  .bottom-options{
    margin-top: 10px;
    .panel-title{
      color: $grey;
      &:hover{
        color: #aaa;
      }
    }
  }
}

.breadcrumb{
  display: block;
}

#navbar-logo-sidebar{
  display: block;
  background: url("images/logo_educal_sidebar.png") center center no-repeat;
  width: 250px;
  height: 230px;
  margin-top: 15px;
  @media screen and (max-width: $break-medium){
    margin-left: 15px;
  }
}

.sidebar-wrapper .panel-heading {
  padding: 0;
}

.sidebar-wrapper .panel-title {
  padding: 12px 20px;
  margin: 0;
  font-size: 13px;
  width: 100%;
  font-weight: 500;
  color: $blue;
  @include transition-property(padding);
  @include transition-duration(0.1s);
  @include transition-timing-function(ease-in);
  text-align: left;
  &:hover{
    cursor: pointer;
    color: $lightblue;
    padding-left: 25px;
  }
  .glyphicon{
    margin-right: 10px;
  }
}

@media screen and (max-width: $break-medium){
  .sidebar-wrapper{
    left: 0;
    background: #fff;
    padding-top: 10px;
    @include transition-property(left);
    @include transition-duration(0.15s);
    @include transition-timing-function(ease-in);
  }
  #accordion{
    padding: 0 0 0 4px;
  }
  #navbar-logo-sidebar{
    display: none;
  }
  .breadcrumb{
    display: none;
  }
  .sidebar-active{
    left: 250px;
  }
  #content-wrapper{
    margin-left: 0 !important;
    padding-top: 20px !important;
  }
  .fc-header-center{
    display: none;
  }
}

#backdrop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1040;
  background-color: #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

#userinfo-wrapper{
  position: fixed;
  bottom: 0;
  left: 250px;
  margin-left: -250px;
  font-size: 12px;
  width: 250px;
  padding: 10px;
  color: $grey;
  .username{
    color: #fff;
  }
  @media screen and (max-width: $break-medium){
    left: 0;
  }
}


/* CONTENT
---------------------- */
#content-wrapper{
  margin-left: 250px;
  padding-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
  p{
    line-height: 1.75em;
  }
  h1{
    margin: 0px 0 20px 0;
    font-weight: 700;
    margin-bottom: 47px;
  }
  // DataTables
  .content-table{
    th{
      height: 40px;
      color: #fff;
      border-bottom: none;
      @include text-shadow(rgba(0, 0, 0, 0.75) 0px 0px 5px);
      @include box-sizing(border-box);
      //background: $blue;
    }
  }
  .dataTables_wrapper{
    margin-top: 49px;
  }
}

#content-container{
  position: relative;
  z-index: 1020;
}
.glyph-educal{
  width: 24px;
  height: 24px;
}
.glyph-edit{
  background: url('images/icon-edit.png') no-repeat center center;
}
.glyph-remove{
  background: url('images/icon-remove2.png') no-repeat center center;
}


/* CALENDAR
---------------------- */
#calendar{
  a{
    color: #fff;
    &:hover{
      color: #b6cdea;
    }
  }
  .fc-event{
    background: $blue;
    border: 0;
    padding: 5px;
    border-radius: 10px;
    &:hover{
      color: $darkblue;
    }
  }
  .fc-state-highlight{
    background: #daf2ef;
  }
  .fc-button{
    @include text-shadow(none);
    z-index: 1020;
    @include box-sizing(content-box);
    &:hover{
      background: $blue;
      border-color: $darkblue !important;
    }
    &:active{
      border-bottom: 2px solid $darkblue !important;
      top: 1px !important;
      z-index: 1010;
    }
    @include btn-educal($grey, #fff, $blue, $darkgrey);
  }
  .fc-state-disabled{
    color: #fff;
    top: 1px;
    border-bottom: 1px solid $darkgrey !important;
    &:active{
      top: 1px;
      border-bottom: 1px solid $darkblue !important;
    }
  }
  .fc-state-active{
    @include box-shadow(none);
    background: $blue;
    border-color: $darkblue !important;
    &:active{
      border-color: $darkblue !important;
    }
  }
  .fc-header-title h2{
    font-size: 25px;
    position: relative;
    bottom: 4px;
  }
  .fc-widget-content{
    border-width: 0;
    @media screen and (max-width: $break-large){
      border-width: 1px 0 0 1px;
    }
  }
  thead tr.fc-first{
    color: #fff;
    text-transform: uppercase;
    height: 40px;
    @include text-shadow(rgba(0, 0, 0, 0.75) 0px 0px 5px);
    th{
      vertical-align: middle;
    }
    .fc-mon, .fc-tue, .fc-wed, .fc-thu, .fc-fri{
      border: none;
    }
    .fc-sat, .fc-sun{
      background: $darkgrey;
      border: none;
    }
    .fc-widget-header{
      border: none;
    }
  }
}

// Firefox
#content-bg{
  width: 100%;
  background: url('images/content-bg.jpg') repeat top left $grey;
  position: absolute;
  z-index: 1010;
  height: 211px;
  border-bottom: 40px solid $grey;
  top: 0;
  left: 0;
  @media screen and (max-width: $break-medium){
    height: 241px;
  }
  // Chrome
  @media screen and (-webkit-min-device-pixel-ratio:0){
    height: 209px;
    @media screen and (max-width: $break-medium){
      height: 239px;
    }
  }
  // Chrome non-mobile hack
  /*@media screen and (-webkit-min-device-pixel-ratio:0){
    height: 205px;
  }*/
}

#calendar-content{
  position: relative;
  z-index: 1020;
}

#addEvent {
  &:active{
    margin: 0 0 43px 0 !important;
  }
}

/* TABLE VIEWS (USERS, SCHOOLS, ...
---------------------- */

