@import "compass";

/* General elements
---------------------- */
// Colors
$darkgreen: #1d5456;
$green: #39acb0;
$lightgreen: #9bd2db;
$hovergreen: #91bcc2;
$pink: #f21666;
$lightpink: #f24c81;
$darkgrey: #333;
$lightgrey: #aaabae;

// Breakpoints
$break-small: 320px;
$break-medium: 768px;
$break-large: 1200px;

// Fonts
$sans-serif: 'Open Sans', 'Helvetica', sans-serif;
$times: 'Times New Roman', serif;

// Buttons
@mixin btn-educal($bgcolor, $bordercolor, $color, $bghover, $borderhover){
  background: $bgcolor;
  border: 1px solid $bordercolor;
  color: $color;
  text-shadow: none;
  &:hover{
    background: $bghover;
    border: 1px solid $borderhover;
    color: $color;
  }
  &:focus{
    background: $bghover;
    border: 1px solid $borderhover;
    color: $color;
    outline: none;
  }
}

.btn-educal-primary{
  @include btn-educal(#F21666, #a6104a, #fff, #ec3b76, #F21666);
}

.btn-educal-secondary{
  @include btn-educal(#EAE415, #c9c315, #8c8610, #fbfd4f, #EAE415);
}

// HTML
body{
  background: #fff;
  padding-top: 50px;
  font-family: $sans-serif;
}

a{
  color: $pink;
  &:hover{
    color: $lightpink;
  }
}
img{
  max-width: 100%;
}

/* NAVBAR
---------------------- */

#navbar-educal{
  background: $green;
  color: #fff;
  height: 50px;
  box-shadow: none;
  border: 0;
  z-index: 1060;
  .navbar-toggle{
    border: 0;
    &:hover, &:focus{
      background-color: $lightgreen;
      border: 0;
    }
  }
  .navbar-toggle .icon-bar{
    background-color: #fff;
  }
}

#navbar-logo{
  background: url("images/logo_educal.png") left top no-repeat;
  width: 188px;
  height: 45px;
  margin: 6px 0 0 0;
  @media screen and (max-width: $break-medium){
    margin-left: 15px;
  }
}

/* SIDEBAR
---------------------- */

.sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1050;
  a{
    text-decoration: none;
  }
  background: $lightgreen;
}

#accordion {
  -webkit-padding-start: 0px;
  color: #FFF;
  list-style: none;
  padding: 0;
  font-size: 12px;
}

.sidebar-wrapper .panel-heading {
  padding: 0;
  &:hover{
    cursor: pointer;
    background: #2d3340;
  }
}

.sidebar-wrapper .panel-title {
  padding: 15px 20px;
  margin: 0;
  font-size: 12px;
  border-bottom: 1px solid $hovergreen;
  width: 100%;
  font-weight: 500;
  color: #fff;
  @include transition-property(padding);
  @include transition-duration(0.1s);
  @include transition-timing-function(ease-in);
  &:hover{
    cursor: pointer;
    background: $hovergreen;
    color: #FFF;
    padding-left: 25px;
  }
}

@media screen and (max-width: 768px){
  .sidebar-wrapper{
    left: 0;
    background: $lightgreen;
    @include transition-property(left);
    @include transition-duration(0.15s);
    @include transition-timing-function(ease-in);
  }
  .sidebar-active{
    left: 250px;
  }
  #content-wrapper{
    margin-left: 0 !important;
  }
}

#backdrop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1040;
  background-color: #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

#userinfo-wrapper{
  position: fixed;
  bottom: 0;
  left: 250px;
  margin-left: -250px;
  width: 250px;
  padding: 10px;
  color: #fff;
  .username{
    color: #fff;
  }
  @media screen and (max-width: $break-medium){
    left: 0;
  }
}


/* CONTENT
---------------------- */
#content-wrapper{
  margin-left: 265px;
  padding-top: 20px;
  p{
    line-height: 1.75em;
  }
  h1{
    margin: 0px 0 20px 0;
  }
}
.modules-overview{
  list-style: none;
  padding: 0;
}

.module{
  margin: 0 0 10px 0;
}

.module-detail-container{
  background: #ccc;
  height: 50px;
  max-height: 100px;
  padding: 15px;
}

/* CALENDAR
---------------------- */
#calendar{
  max-width: 900px;
  a{
    color: #fff;
    &:hover{
      color: #b6cdea;
    }
  }
  .fc-event{
    background: $green;
    border: 0;
    padding: 5px;
    &:hover{
      color: $darkgreen;
    }
  }
  .fc-state-highlight{
    background: #daf2ef;
  }
}

#addEvent {
  margin: 0 0 20px 0;
}
