@import "compass";

// General elements
// ----------------------
body{
  background: #fff;
  padding-top: 51px;
}
a{
  color: #f21666;
  &:hover{
    color: #f24c81;
  }
}
img{
  max-width: 100%;
}

/* SIDEBAR
---------------------- */

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  //border-right: 1px solid rgba(186, 186, 186, 0.70);
}

#accordion {
  -webkit-padding-start: 0px;
  color: #FFF;
  list-style: none;
  padding: 0;
  font-size: 12px;
}

#sidebar-wrapper .panel-heading {
  padding: 0;
  &:hover{
    cursor: pointer;
    background: #2d3340;
  }
}

#sidebar-wrapper .panel-title {
  padding: 15px 20px;
  margin: 0;
  font-size: 12px;
  border-bottom: 1px solid rgba(186, 186, 186, 0.70);
  width: 100%;
  font-weight: 500;
  color: #aaabae;
}

#sidebar-wrapper .panel-title:hover {
  cursor: pointer;
  background: rgba(69, 74, 84, 0.15);
  color: #FFF;
}

#sidebar-wrapper .panel-group li:first-of-type {
  //border-top: 1px solid rgba(186, 186, 186, 0.70);
}

@media screen and (max-width: 768px){
  #sidebar-wrapper{
    left: 0;
  }
  #content-wrapper{
    margin-left: 0 !important;
  }
}


/* CONTENT
---------------------- */
#content-wrapper{
  margin-left: 265px;
}
.modules-overview{
  list-style: none;
  padding: 0;
}

.module{
  margin: 0 0 10px 0;
}

.module-detail-container{
  background: #ccc;
  height: 50px;
  max-height: 100px;
  padding: 15px;
}

/* CALENDAR
---------------------- */
#calendar{
  margin-top: 31px;
}
