// Variables
$pink: #f50064;
$darkpink: #ab0046;
$lightpink: #f95a93;
$darkblue: #108a98;
$blue: #00cde1;
$lightblue: #46ddea;
$lighterblue: #9bd2db;
$hoverblue: #b3e9f0;
$yellow: #e9e34b;
$lightyellow: #f0eb72;
$darkyellow: #c9c315;
$darkgrey: #333;
$grey: #556066;
$lightgrey: #f5f5f5;

// Breakpoints
$break-small: 320px;
$break-medium: 768px;
$break-large: 1024px;
$break-xlarge: 1200px;

// Structure
html,
body {
  background-color: #333;
  color: #fff;
  height: 100%;
  min-height: 100%;
  font-family: Roboto, sans-serif;
}
nav {
  float: left;
  width: 200px;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  line-height: 20px;
  button {
    display: block;
    padding: 5px 0;
    margin: 0;
    font-weight: 400;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 0;
  }
  label {
    position: relative;
    display: block;
    padding: 5px 5px 5px 20px;
    margin: 0;
    font-weight: 400;
    cursor: pointer;
  }
  label::before {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    width: 12px;
    height: 12px;
    background: #bbb;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.2);
  }
  label:hover::before {
    background: #0f0;
  }
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox]:checked + label::before {
    background: #f00;
  }
  input[type=checkbox]:checked::before {
    background: #f00;
    position: absolute;
  }
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 20px;
  }

}
main {
  margin-left: 200px;
  background: #fff;
  padding: 2em 5vw;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  color: #000;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 25em;
  max-width: 25em;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.6);
  box-shadow: 0 5px 40px rgba(0,0,0,.5);
  input[type=text]{
    padding: 10px 15px;
  }
  label{
    padding: 10px 15px;
    margin: 0;
    line-height: 20px;
    font-weight: 500;
  }
  button{
    color: #090;
    display: block;
    padding: 15px 15px;
    line-height: 25px;
    height: 50px;
    margin: 0;
    width: 100%;
    text-align: right;
    vertical-align: middle;
    cursor: pointer;
    background: none;
    border: 0;
    text-transform: uppercase;
    font-weight: 500;
  }
}
.input{

    display: block;
    width: 100%;
    height:40px;
    font-size: 14px;
    line-height: 20px;
    background: none;
    border:0;
}
.popover-content {
  padding: 0;
}
.dtpicker{
  display: flex;
  &>label{
    flex: 1 0 auto;
  }
}
.dtpicker-dt{
  flex: 1 0 25%;
  input{
    display: block;
  }
}
.select-year{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.radio-minimal{
  display: block;
}
.divider-btm{
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0;
}
.event-description{
  label{
    display: block;
  }
  input{
    width: 100%;
  }
}

.backdrop{
  display: none;
  &.visible{
    display: block;
    position: fixed;
    z-index: 1000;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
  }
}

// Base
h1 {
  flex: 1 0 auto;
  font-size: 1.5em;
  margin-bottom: 1em;
}
h2 {
  font-size: 1.25em;
  margin-bottom: 1em;
}
section {
  flex: 10 0 auto;
}
