/* General elements
---------------------- */
/* line 43, ../sass/app.scss */
.btn-educal-primary {
  background: #f21666;
  border: 1px solid #a6104a;
  color: white;
  text-shadow: none;
}
/* line 30, ../sass/app.scss */
.btn-educal-primary:hover {
  background: #ec3b76;
  border: 1px solid #f21666;
  color: white;
}
/* line 35, ../sass/app.scss */
.btn-educal-primary:focus {
  background: #ec3b76;
  border: 1px solid #f21666;
  color: white;
  outline: none;
}

/* line 47, ../sass/app.scss */
.btn-educal-secondary {
  background: #eae415;
  border: 1px solid #c9c315;
  color: #8c8610;
  text-shadow: none;
}
/* line 30, ../sass/app.scss */
.btn-educal-secondary:hover {
  background: #fbfd4f;
  border: 1px solid #eae415;
  color: #8c8610;
}
/* line 35, ../sass/app.scss */
.btn-educal-secondary:focus {
  background: #fbfd4f;
  border: 1px solid #eae415;
  color: #8c8610;
  outline: none;
}

/* line 52, ../sass/app.scss */
body {
  background: #fff;
  padding-top: 50px;
  font-family: "Open Sans", "Helvetica", sans-serif;
}

/* line 58, ../sass/app.scss */
a {
  color: #f21666;
}
/* line 60, ../sass/app.scss */
a:hover {
  color: #f24c81;
}

/* line 64, ../sass/app.scss */
img {
  max-width: 100%;
}

/* NAVBAR
---------------------- */
/* line 71, ../sass/app.scss */
#navbar-educal {
  background: #39acb0;
  color: #fff;
  height: 50px;
  box-shadow: none;
  border: 0;
  z-index: 1060;
}
/* line 78, ../sass/app.scss */
#navbar-educal .navbar-toggle {
  border: 0;
}
/* line 80, ../sass/app.scss */
#navbar-educal .navbar-toggle:hover, #navbar-educal .navbar-toggle:focus {
  background-color: #9bd2db;
  border: 0;
}
/* line 85, ../sass/app.scss */
#navbar-educal .navbar-toggle .icon-bar {
  background-color: #fff;
}

/* line 90, ../sass/app.scss */
#navbar-logo {
  background: url("images/logo_educal.png") left top no-repeat;
  width: 188px;
  height: 45px;
  margin: 6px 0 0 0;
}
@media screen and (max-width: 768px) {
  /* line 90, ../sass/app.scss */
  #navbar-logo {
    margin-left: 15px;
  }
}

/* SIDEBAR
---------------------- */
/* line 103, ../sass/app.scss */
.sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1050;
  background: #9bd2db;
}
/* line 111, ../sass/app.scss */
.sidebar-wrapper a {
  text-decoration: none;
}

/* line 117, ../sass/app.scss */
#accordion {
  -webkit-padding-start: 0px;
  color: #FFF;
  list-style: none;
  padding: 0;
  font-size: 12px;
}

/* line 125, ../sass/app.scss */
.sidebar-wrapper .panel-heading {
  padding: 0;
}
/* line 127, ../sass/app.scss */
.sidebar-wrapper .panel-heading:hover {
  cursor: pointer;
  background: #2d3340;
}

/* line 133, ../sass/app.scss */
.sidebar-wrapper .panel-title {
  padding: 15px 20px;
  margin: 0;
  font-size: 12px;
  border-bottom: 1px solid #91bcc2;
  width: 100%;
  font-weight: 500;
  color: #fff;
  -webkit-transition-property: padding;
  -moz-transition-property: padding;
  -o-transition-property: padding;
  transition-property: padding;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 144, ../sass/app.scss */
.sidebar-wrapper .panel-title:hover {
  cursor: pointer;
  background: #91bcc2;
  color: #FFF;
  padding-left: 25px;
}

@media screen and (max-width: 768px) {
  /* line 153, ../sass/app.scss */
  .sidebar-wrapper {
    left: 0;
    background: #9bd2db;
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -o-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  /* line 160, ../sass/app.scss */
  .sidebar-active {
    left: 250px;
  }

  /* line 163, ../sass/app.scss */
  #content-wrapper {
    margin-left: 0 !important;
  }
}
/* line 168, ../sass/app.scss */
#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1040;
  background-color: #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/* line 180, ../sass/app.scss */
#userinfo-wrapper {
  position: fixed;
  bottom: 0;
  left: 250px;
  margin-left: -250px;
  width: 250px;
  padding: 10px;
  color: #fff;
}
/* line 188, ../sass/app.scss */
#userinfo-wrapper .username {
  color: #fff;
}
@media screen and (max-width: 768px) {
  /* line 180, ../sass/app.scss */
  #userinfo-wrapper {
    left: 0;
  }
}

/* CONTENT
---------------------- */
/* line 199, ../sass/app.scss */
#content-wrapper {
  margin-left: 265px;
  padding-top: 20px;
}
/* line 202, ../sass/app.scss */
#content-wrapper p {
  line-height: 1.75em;
}
/* line 205, ../sass/app.scss */
#content-wrapper h1 {
  margin: 0px 0 20px 0;
}

/* line 209, ../sass/app.scss */
.modules-overview {
  list-style: none;
  padding: 0;
}

/* line 214, ../sass/app.scss */
.module {
  margin: 0 0 10px 0;
}

/* line 218, ../sass/app.scss */
.module-detail-container {
  background: #ccc;
  height: 50px;
  max-height: 100px;
  padding: 15px;
}

/* CALENDAR
---------------------- */
/* line 227, ../sass/app.scss */
#calendar {
  max-width: 900px;
}
/* line 229, ../sass/app.scss */
#calendar a {
  color: #fff;
}
/* line 231, ../sass/app.scss */
#calendar a:hover {
  color: #b6cdea;
}
/* line 235, ../sass/app.scss */
#calendar .fc-event {
  background: #39acb0;
  border: 0;
  padding: 5px;
}
/* line 239, ../sass/app.scss */
#calendar .fc-event:hover {
  color: #1d5456;
}
/* line 243, ../sass/app.scss */
#calendar .fc-state-highlight {
  background: #daf2ef;
}

/* line 248, ../sass/app.scss */
#addEvent {
  margin: 0 0 20px 0;
}
