/* General elements
---------------------- */
/* line 50, ../sass/app.scss */
.btn-educal-primary {
  background: #f50064;
  border: 1px solid #ab0046;
  color: white;
  text-shadow: none;
}
/* line 37, ../sass/app.scss */
.btn-educal-primary:hover {
  background: #f95a93;
  border: 1px solid #f50064;
  color: white;
}
/* line 42, ../sass/app.scss */
.btn-educal-primary:focus {
  background: #f95a93;
  border: 1px solid #f50064;
  color: white;
  outline: none;
}

/* line 54, ../sass/app.scss */
.btn-educal-secondary {
  background: #eae415;
  border: 1px solid #c9c315;
  color: #8c8610;
  text-shadow: none;
}
/* line 37, ../sass/app.scss */
.btn-educal-secondary:hover {
  background: #fbfd4f;
  border: 1px solid #eae415;
  color: #8c8610;
}
/* line 42, ../sass/app.scss */
.btn-educal-secondary:focus {
  background: #fbfd4f;
  border: 1px solid #eae415;
  color: #8c8610;
  outline: none;
}

/* line 59, ../sass/app.scss */
body {
  background: #fff;
  font-family: "Open Sans", "Helvetica", sans-serif;
}
@media screen and (max-width: 768px) {
  /* line 59, ../sass/app.scss */
  body {
    padding-top: 50px;
  }
}

/* line 67, ../sass/app.scss */
a {
  color: #f50064;
}
/* line 69, ../sass/app.scss */
a:hover {
  color: #f95a93;
}

/* line 73, ../sass/app.scss */
img {
  max-width: 100%;
}

/* NAVBAR
---------------------- */
/* line 80, ../sass/app.scss */
#navbar-educal {
  background: whitesmoke;
  color: #fff;
  height: 50px;
  box-shadow: none;
  border: 0;
  z-index: 1060;
  display: none;
}
/* line 88, ../sass/app.scss */
#navbar-educal .navbar-toggle {
  border: 0;
}
/* line 90, ../sass/app.scss */
#navbar-educal .navbar-toggle:hover, #navbar-educal .navbar-toggle:focus {
  background-color: #00cde1;
  border: 0;
}
/* line 93, ../sass/app.scss */
#navbar-educal .navbar-toggle:hover .icon-bar, #navbar-educal .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}
/* line 98, ../sass/app.scss */
#navbar-educal .navbar-toggle .icon-bar {
  background-color: #00cde1;
}
@media screen and (max-width: 768px) {
  /* line 80, ../sass/app.scss */
  #navbar-educal {
    display: block;
  }
}

/* line 107, ../sass/app.scss */
#navbar-logo {
  background: url("images/logo_educal.png") left top no-repeat;
  width: 188px;
  height: 45px;
  margin: 2px 0 0 0;
}
@media screen and (max-width: 768px) {
  /* line 107, ../sass/app.scss */
  #navbar-logo {
    margin-left: 15px;
  }
}

/* SIDEBAR
---------------------- */
/* line 120, ../sass/app.scss */
.sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1050;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
}
/* line 131, ../sass/app.scss */
.sidebar-wrapper a {
  text-decoration: none;
}

/* line 137, ../sass/app.scss */
#accordion {
  color: #00cde1;
  list-style: none;
  font-size: 12px;
  padding: 0 0 0 33px;
  margin: 0 auto;
}
/* line 146, ../sass/app.scss */
#accordion .bottom-options {
  margin-top: 10px;
}
/* line 148, ../sass/app.scss */
#accordion .bottom-options .panel-title {
  color: #aaabae;
}

/* line 154, ../sass/app.scss */
.breadcrumb {
  display: block;
}

/* line 158, ../sass/app.scss */
#navbar-logo-sidebar {
  display: block;
  background: url("images/logo_educal_sidebar.png") center center no-repeat;
  width: 250px;
  height: 230px;
}
@media screen and (max-width: 768px) {
  /* line 158, ../sass/app.scss */
  #navbar-logo-sidebar {
    margin-left: 15px;
  }
}

/* line 168, ../sass/app.scss */
.sidebar-wrapper .panel-heading {
  padding: 0;
}

/* line 172, ../sass/app.scss */
.sidebar-wrapper .panel-title {
  padding: 12px 20px;
  margin: 0;
  font-size: 13px;
  width: 100%;
  font-weight: 500;
  color: #00cde1;
  -webkit-transition-property: padding;
  -moz-transition-property: padding;
  -o-transition-property: padding;
  transition-property: padding;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  text-align: left;
}
/* line 183, ../sass/app.scss */
.sidebar-wrapper .panel-title:hover {
  cursor: pointer;
  color: #46ddea;
  padding-left: 25px;
}
/* line 188, ../sass/app.scss */
.sidebar-wrapper .panel-title .glyphicon {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  /* line 194, ../sass/app.scss */
  .sidebar-wrapper {
    left: 0;
    background: #fff;
    padding-top: 10px;
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -o-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  /* line 202, ../sass/app.scss */
  #navbar-logo-sidebar {
    display: none;
  }

  /* line 205, ../sass/app.scss */
  .breadcrumb {
    display: none;
  }

  /* line 208, ../sass/app.scss */
  .sidebar-active {
    left: 250px;
  }

  /* line 211, ../sass/app.scss */
  #content-wrapper {
    margin-left: 0 !important;
  }

  /* line 214, ../sass/app.scss */
  .fc-header-center {
    display: none;
  }
}
/* line 219, ../sass/app.scss */
#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1040;
  background-color: #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/* line 231, ../sass/app.scss */
#userinfo-wrapper {
  position: fixed;
  bottom: 0;
  left: 250px;
  margin-left: -250px;
  font-size: 12px;
  width: 250px;
  padding: 10px;
  color: #333333;
}
/* line 240, ../sass/app.scss */
#userinfo-wrapper .username {
  color: #fff;
}
@media screen and (max-width: 768px) {
  /* line 231, ../sass/app.scss */
  #userinfo-wrapper {
    left: 0;
  }
}

/* CONTENT
---------------------- */
/* line 251, ../sass/app.scss */
#content-wrapper {
  margin-left: 250px;
  padding-top: 49px;
  padding-right: 15px;
  padding-left: 15px;
}
/* line 256, ../sass/app.scss */
#content-wrapper p {
  line-height: 1.75em;
}
/* line 259, ../sass/app.scss */
#content-wrapper h1 {
  margin: 0px 0 20px 0;
}

/* line 263, ../sass/app.scss */
.modules-overview {
  list-style: none;
  padding: 0;
}

/* line 268, ../sass/app.scss */
.module {
  margin: 0 0 10px 0;
}

/* line 272, ../sass/app.scss */
.module-detail-container {
  background: #ccc;
  height: 50px;
  max-height: 100px;
  padding: 15px;
}

/* CALENDAR
---------------------- */
/* line 281, ../sass/app.scss */
#calendar {
  max-width: 900px;
  margin-right: 0 !important;
}
/* line 284, ../sass/app.scss */
#calendar a {
  color: #fff;
}
/* line 286, ../sass/app.scss */
#calendar a:hover {
  color: #b6cdea;
}
/* line 290, ../sass/app.scss */
#calendar .fc-event {
  background: #00cde1;
  border: 0;
  padding: 5px;
  border-radius: 10px;
}
/* line 295, ../sass/app.scss */
#calendar .fc-event:hover {
  color: #108a98;
}
/* line 299, ../sass/app.scss */
#calendar .fc-state-highlight {
  background: #daf2ef;
}
/* line 302, ../sass/app.scss */
#calendar .fc-button {
  background: none;
  border: none;
}
/* line 305, ../sass/app.scss */
#calendar .fc-button:hover {
  background: #eee;
}
/* line 309, ../sass/app.scss */
#calendar .fc-state-active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-weight: 700;
}
/* line 313, ../sass/app.scss */
#calendar .fc-header-title h2 {
  font-weight: 700;
  font-size: 30px;
  position: relative;
  bottom: 10px;
}
/* line 319, ../sass/app.scss */
#calendar .fc-widget-content {
  border: none;
}
/* line 322, ../sass/app.scss */
#calendar thead tr.fc-first {
  color: #fff;
  text-transform: uppercase;
  height: 40px;
  text-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px;
}
/* line 327, ../sass/app.scss */
#calendar thead tr.fc-first th {
  vertical-align: middle;
}
/* line 330, ../sass/app.scss */
#calendar thead tr.fc-first .fc-mon, #calendar thead tr.fc-first .fc-tue, #calendar thead tr.fc-first .fc-wed, #calendar thead tr.fc-first .fc-thu, #calendar thead tr.fc-first .fc-fri {
  background: #333333;
  border: none;
  border-right: 1px solid white;
}
/* line 335, ../sass/app.scss */
#calendar thead tr.fc-first .fc-sat, #calendar thead tr.fc-first .fc-sun {
  background: #aaabae;
  border: none;
  border-right: 1px solid white;
}

/* line 343, ../sass/app.scss */
#addEvent {
  margin: 0 0 40px 0;
}

/* TABLE VIEWS (USERS, SCHOOLS, ...
---------------------- */
