/* General elements
---------------------- */
/* line 53, ../sass/app.scss */
.btn-educal-primary {
  background: #f50064;
  border: none;
  border-bottom: 3px solid #ab0046;
  color: white;
  text-shadow: none;
}
/* line 40, ../sass/app.scss */
.btn-educal-primary:hover, .btn-educal-primary:focus {
  background: #f95a93;
  color: white;
  border-bottom: 3px solid #ab0046;
}
/* line 45, ../sass/app.scss */
.btn-educal-primary:active {
  border: none;
  position: relative;
  top: 3px;
  margin-bottom: 3px !important;
}

/* line 57, ../sass/app.scss */
.btn-educal-secondary {
  background: #e9e34b;
  border: none;
  border-bottom: 3px solid #c9c315;
  color: #8c8610;
  text-shadow: none;
}
/* line 40, ../sass/app.scss */
.btn-educal-secondary:hover, .btn-educal-secondary:focus {
  background: #f0eb72;
  color: #8c8610;
  border-bottom: 3px solid #c9c315;
}
/* line 45, ../sass/app.scss */
.btn-educal-secondary:active {
  border: none;
  position: relative;
  top: 3px;
  margin-bottom: 3px !important;
}

/* line 62, ../sass/app.scss */
body {
  background: #fff;
  font-family: "Open Sans", "Helvetica", sans-serif;
}
@media screen and (max-width: 768px) {
  /* line 62, ../sass/app.scss */
  body {
    padding-top: 50px;
  }
}

/* line 70, ../sass/app.scss */
a {
  color: #f50064;
}
/* line 72, ../sass/app.scss */
a:hover {
  color: #f95a93;
}

/* line 76, ../sass/app.scss */
img {
  max-width: 100%;
}

/* NAVBAR
---------------------- */
/* line 83, ../sass/app.scss */
#navbar-educal {
  background: #fff;
  color: #fff;
  height: 50px;
  border: 0;
  z-index: 1060;
  display: none;
}
/* line 90, ../sass/app.scss */
#navbar-educal .navbar-toggle {
  border: 0;
}
/* line 92, ../sass/app.scss */
#navbar-educal .navbar-toggle:hover, #navbar-educal .navbar-toggle:focus {
  background-color: #00cde1;
  border: 0;
}
/* line 95, ../sass/app.scss */
#navbar-educal .navbar-toggle:hover .icon-bar, #navbar-educal .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}
/* line 99, ../sass/app.scss */
#navbar-educal .navbar-toggle:target {
  background: none;
}
/* line 103, ../sass/app.scss */
#navbar-educal .navbar-toggle .icon-bar {
  background-color: #00cde1;
}
@media screen and (max-width: 768px) {
  /* line 83, ../sass/app.scss */
  #navbar-educal {
    display: block;
  }
}

/* line 112, ../sass/app.scss */
#navbar-logo {
  background: url("images/logo_educal.png") left top no-repeat;
  width: 188px;
  height: 45px;
  margin: 2px 0 0 0;
}
@media screen and (max-width: 768px) {
  /* line 112, ../sass/app.scss */
  #navbar-logo {
    margin-left: 15px;
  }
}

/* SIDEBAR
---------------------- */
/* line 125, ../sass/app.scss */
.sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1050;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
}
/* line 136, ../sass/app.scss */
.sidebar-wrapper a {
  text-decoration: none;
}

/* line 142, ../sass/app.scss */
#accordion {
  color: #00cde1;
  list-style: none;
  font-size: 12px;
  padding: 0 0 0 33px;
  margin: 0 auto;
}
/* line 151, ../sass/app.scss */
#accordion .bottom-options {
  margin-top: 10px;
}
/* line 153, ../sass/app.scss */
#accordion .bottom-options .panel-title {
  color: #556066;
}
/* line 155, ../sass/app.scss */
#accordion .bottom-options .panel-title:hover {
  color: #aaa;
}

/* line 162, ../sass/app.scss */
.breadcrumb {
  display: block;
}

/* line 166, ../sass/app.scss */
#navbar-logo-sidebar {
  display: block;
  background: url("images/logo_educal_sidebar.png") center center no-repeat;
  width: 250px;
  height: 230px;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  /* line 166, ../sass/app.scss */
  #navbar-logo-sidebar {
    margin-left: 15px;
  }
}

/* line 177, ../sass/app.scss */
.sidebar-wrapper .panel-heading {
  padding: 0;
}

/* line 181, ../sass/app.scss */
.sidebar-wrapper .panel-title {
  padding: 12px 20px;
  margin: 0;
  font-size: 13px;
  width: 100%;
  font-weight: 500;
  color: #00cde1;
  -webkit-transition-property: padding;
  -moz-transition-property: padding;
  -o-transition-property: padding;
  transition-property: padding;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  text-align: left;
}
/* line 192, ../sass/app.scss */
.sidebar-wrapper .panel-title:hover {
  cursor: pointer;
  color: #46ddea;
  padding-left: 25px;
}
/* line 197, ../sass/app.scss */
.sidebar-wrapper .panel-title .glyphicon {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  /* line 203, ../sass/app.scss */
  .sidebar-wrapper {
    left: 0;
    background: #fff;
    padding-top: 10px;
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -o-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  /* line 211, ../sass/app.scss */
  #accordion {
    padding: 0 0 0 4px;
  }

  /* line 214, ../sass/app.scss */
  #navbar-logo-sidebar {
    display: none;
  }

  /* line 217, ../sass/app.scss */
  .breadcrumb {
    display: none;
  }

  /* line 220, ../sass/app.scss */
  .sidebar-active {
    left: 250px;
  }

  /* line 223, ../sass/app.scss */
  #content-wrapper {
    margin-left: 0 !important;
    padding-top: 20px !important;
  }

  /* line 227, ../sass/app.scss */
  .fc-header-center {
    display: none;
  }
}
/* line 232, ../sass/app.scss */
#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1040;
  background-color: #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/* line 244, ../sass/app.scss */
#userinfo-wrapper {
  position: fixed;
  bottom: 0;
  left: 250px;
  margin-left: -250px;
  font-size: 12px;
  width: 250px;
  padding: 10px;
  color: #556066;
}
/* line 253, ../sass/app.scss */
#userinfo-wrapper .username {
  color: #fff;
}
@media screen and (max-width: 768px) {
  /* line 244, ../sass/app.scss */
  #userinfo-wrapper {
    left: 0;
  }
}

/* CONTENT
---------------------- */
/* line 264, ../sass/app.scss */
#content-wrapper {
  margin-left: 250px;
  padding-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
}
/* line 269, ../sass/app.scss */
#content-wrapper p {
  line-height: 1.75em;
}
/* line 272, ../sass/app.scss */
#content-wrapper h1 {
  margin: 0px 0 20px 0;
  font-weight: 700;
}

/* line 277, ../sass/app.scss */
.modules-overview {
  list-style: none;
  padding: 0;
}

/* line 282, ../sass/app.scss */
.module {
  margin: 0 0 10px 0;
}

/* line 286, ../sass/app.scss */
.module-detail-container {
  background: #ccc;
  height: 50px;
  max-height: 100px;
  padding: 15px;
}

/* CALENDAR
---------------------- */
/* line 296, ../sass/app.scss */
#calendar a {
  color: #fff;
}
/* line 298, ../sass/app.scss */
#calendar a:hover {
  color: #b6cdea;
}
/* line 302, ../sass/app.scss */
#calendar .fc-event {
  background: #00cde1;
  border: 0;
  padding: 5px;
  border-radius: 10px;
}
/* line 307, ../sass/app.scss */
#calendar .fc-event:hover {
  color: #108a98;
}
/* line 311, ../sass/app.scss */
#calendar .fc-state-highlight {
  background: #daf2ef;
}
/* line 314, ../sass/app.scss */
#calendar .fc-button {
  text-shadow: none;
  z-index: 1020;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #556066;
  border: none;
  border-bottom: 3px solid #333333;
  color: white;
  text-shadow: none;
}
/* line 318, ../sass/app.scss */
#calendar .fc-button:hover {
  background: #00cde1;
  border-color: #108a98 !important;
}
/* line 322, ../sass/app.scss */
#calendar .fc-button:active {
  border-bottom: 2px solid #108a98 !important;
  top: 1px !important;
  z-index: 1010;
}
/* line 40, ../sass/app.scss */
#calendar .fc-button:hover, #calendar .fc-button:focus {
  background: #00cde1;
  color: white;
  border-bottom: 3px solid #333333;
}
/* line 45, ../sass/app.scss */
#calendar .fc-button:active {
  border: none;
  position: relative;
  top: 3px;
  margin-bottom: 3px !important;
}
/* line 329, ../sass/app.scss */
#calendar .fc-state-disabled {
  color: #fff;
  top: 1px;
  border-bottom: 1px solid #333333 !important;
}
/* line 333, ../sass/app.scss */
#calendar .fc-state-disabled:active {
  top: 1px;
  border-bottom: 1px solid #108a98 !important;
}
/* line 338, ../sass/app.scss */
#calendar .fc-state-active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #00cde1;
  border-color: #108a98 !important;
}
/* line 342, ../sass/app.scss */
#calendar .fc-state-active:active {
  border-color: #108a98 !important;
}
/* line 346, ../sass/app.scss */
#calendar .fc-header-title h2 {
  font-size: 25px;
  position: relative;
  bottom: 4px;
}
/* line 351, ../sass/app.scss */
#calendar .fc-widget-content {
  border-width: 0;
}
@media screen and (max-width: 1024px) {
  /* line 351, ../sass/app.scss */
  #calendar .fc-widget-content {
    border-width: 1px 0 0 1px;
  }
}
/* line 357, ../sass/app.scss */
#calendar thead tr.fc-first {
  color: #fff;
  text-transform: uppercase;
  height: 40px;
  text-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px;
}
/* line 362, ../sass/app.scss */
#calendar thead tr.fc-first th {
  vertical-align: middle;
}
/* line 365, ../sass/app.scss */
#calendar thead tr.fc-first .fc-mon, #calendar thead tr.fc-first .fc-tue, #calendar thead tr.fc-first .fc-wed, #calendar thead tr.fc-first .fc-thu, #calendar thead tr.fc-first .fc-fri {
  border: none;
}
/* line 368, ../sass/app.scss */
#calendar thead tr.fc-first .fc-sat, #calendar thead tr.fc-first .fc-sun {
  background: #333333;
  border: none;
}
/* line 372, ../sass/app.scss */
#calendar thead tr.fc-first .fc-widget-header {
  border: none;
}

/* line 379, ../sass/app.scss */
#calendar-bg {
  width: 100%;
  background: url("images/calendar-bg.jpg") repeat top left #556066;
  position: absolute;
  z-index: 1010;
  height: 211px;
  border-bottom: 40px solid #556066;
  top: 0;
  left: 0;
  /*@media screen and (-webkit-min-device-pixel-ratio:0){
    height: 205px;
  }*/
}
@media screen and (max-width: 768px) {
  /* line 379, ../sass/app.scss */
  #calendar-bg {
    height: 241px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 379, ../sass/app.scss */
  #calendar-bg {
    height: 209px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 768px) {
  /* line 379, ../sass/app.scss */
  #calendar-bg {
    height: 239px;
  }
}

/* line 404, ../sass/app.scss */
#calendar-content {
  position: relative;
  z-index: 1020;
}

/* line 409, ../sass/app.scss */
#addEvent {
  margin: 0 0 40px 0;
}
/* line 411, ../sass/app.scss */
#addEvent:active {
  margin: 0 0 43px 0 !important;
}

/* TABLE VIEWS (USERS, SCHOOLS, ...
---------------------- */
