/* General elements
---------------------- */
/* line 54, ../sass/app.scss */
.btn-educal-primary {
  background: #f50064;
  border: none;
  border-bottom: 3px solid #ab0046;
  color: white;
  text-shadow: none;
}
/* line 41, ../sass/app.scss */
.btn-educal-primary:hover, .btn-educal-primary:focus {
  background: #f95a93;
  color: white;
  border-bottom: 3px solid #ab0046;
}
/* line 46, ../sass/app.scss */
.btn-educal-primary:active {
  border: none;
  position: relative;
  top: 3px;
  margin-bottom: 3px !important;
}

/* line 58, ../sass/app.scss */
.btn-educal-secondary {
  background: #e9e34b;
  border: none;
  border-bottom: 3px solid #c9c315;
  color: #8c8610;
  text-shadow: none;
}
/* line 41, ../sass/app.scss */
.btn-educal-secondary:hover, .btn-educal-secondary:focus {
  background: #f0eb72;
  color: #8c8610;
  border-bottom: 3px solid #c9c315;
}
/* line 46, ../sass/app.scss */
.btn-educal-secondary:active {
  border: none;
  position: relative;
  top: 3px;
  margin-bottom: 3px !important;
}

/* line 63, ../sass/app.scss */
body {
  background: #fff;
  font-family: "Open Sans", "Helvetica", sans-serif;
}
@media screen and (max-width: 768px) {
  /* line 63, ../sass/app.scss */
  body {
    padding-top: 50px;
  }
}

/* line 71, ../sass/app.scss */
a {
  color: #f50064;
}
/* line 73, ../sass/app.scss */
a:hover {
  color: #f95a93;
}

/* line 77, ../sass/app.scss */
img {
  max-width: 100%;
}

/* NAVBAR
---------------------- */
/* line 84, ../sass/app.scss */
#navbar-educal {
  background: #fff;
  color: #fff;
  height: 50px;
  border: 0;
  z-index: 1060;
  display: none;
}
/* line 91, ../sass/app.scss */
#navbar-educal .navbar-toggle {
  border: 0;
}
/* line 93, ../sass/app.scss */
#navbar-educal .navbar-toggle:hover, #navbar-educal .navbar-toggle:focus {
  background-color: #00cde1;
  border: 0;
}
/* line 96, ../sass/app.scss */
#navbar-educal .navbar-toggle:hover .icon-bar, #navbar-educal .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}
/* line 100, ../sass/app.scss */
#navbar-educal .navbar-toggle:target {
  background: none;
}
/* line 104, ../sass/app.scss */
#navbar-educal .navbar-toggle .icon-bar {
  background-color: #00cde1;
}
@media screen and (max-width: 768px) {
  /* line 84, ../sass/app.scss */
  #navbar-educal {
    display: block;
  }
}

/* line 113, ../sass/app.scss */
#navbar-logo {
  background: url("images/logo_educal.png") left top no-repeat;
  width: 188px;
  height: 45px;
  margin: 2px 0 0 0;
}
@media screen and (max-width: 768px) {
  /* line 113, ../sass/app.scss */
  #navbar-logo {
    margin-left: 15px;
  }
}

/* SIDEBAR
---------------------- */
/* line 126, ../sass/app.scss */
.sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1050;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
}
/* line 137, ../sass/app.scss */
.sidebar-wrapper a {
  text-decoration: none;
}

/* line 143, ../sass/app.scss */
#accordion {
  color: #00cde1;
  list-style: none;
  font-size: 12px;
  padding: 0 0 0 33px;
  margin: 0 auto;
}
/* line 152, ../sass/app.scss */
#accordion .bottom-options {
  margin-top: 10px;
}
/* line 154, ../sass/app.scss */
#accordion .bottom-options .panel-title {
  color: #556066;
}
/* line 156, ../sass/app.scss */
#accordion .bottom-options .panel-title:hover {
  color: #aaa;
}

/* line 163, ../sass/app.scss */
.breadcrumb {
  display: block;
}

/* line 167, ../sass/app.scss */
#navbar-logo-sidebar {
  display: block;
  background: url("images/logo_educal_sidebar.png") center center no-repeat;
  width: 250px;
  height: 230px;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  /* line 167, ../sass/app.scss */
  #navbar-logo-sidebar {
    margin-left: 15px;
  }
}

/* line 178, ../sass/app.scss */
.sidebar-wrapper .panel-heading {
  padding: 0;
}

/* line 182, ../sass/app.scss */
.sidebar-wrapper .panel-title {
  padding: 12px 20px;
  margin: 0;
  font-size: 13px;
  width: 100%;
  font-weight: 500;
  color: #00cde1;
  -webkit-transition-property: padding;
  -moz-transition-property: padding;
  -o-transition-property: padding;
  transition-property: padding;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  text-align: left;
}
/* line 193, ../sass/app.scss */
.sidebar-wrapper .panel-title:hover {
  cursor: pointer;
  color: #46ddea;
  padding-left: 25px;
}
/* line 198, ../sass/app.scss */
.sidebar-wrapper .panel-title .glyphicon {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  /* line 204, ../sass/app.scss */
  .sidebar-wrapper {
    left: 0;
    background: #fff;
    padding-top: 10px;
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -o-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  /* line 212, ../sass/app.scss */
  #accordion {
    padding: 0 0 0 4px;
  }

  /* line 215, ../sass/app.scss */
  #navbar-logo-sidebar {
    display: none;
  }

  /* line 218, ../sass/app.scss */
  .breadcrumb {
    display: none;
  }

  /* line 221, ../sass/app.scss */
  .sidebar-active {
    left: 250px;
  }

  /* line 224, ../sass/app.scss */
  #content-wrapper {
    margin-left: 0 !important;
    padding-top: 20px !important;
  }

  /* line 228, ../sass/app.scss */
  .fc-header-center {
    display: none;
  }
}
/* line 233, ../sass/app.scss */
#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1040;
  background-color: #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/* line 245, ../sass/app.scss */
#userinfo-wrapper {
  position: fixed;
  bottom: 0;
  left: 250px;
  margin-left: -250px;
  font-size: 12px;
  width: 250px;
  padding: 10px;
  color: #556066;
}
/* line 254, ../sass/app.scss */
#userinfo-wrapper .username {
  color: #fff;
}
@media screen and (max-width: 768px) {
  /* line 245, ../sass/app.scss */
  #userinfo-wrapper {
    left: 0;
  }
}

/* CONTENT
---------------------- */
/* line 265, ../sass/app.scss */
#content-wrapper {
  margin-left: 250px;
  padding-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
}
/* line 270, ../sass/app.scss */
#content-wrapper p {
  line-height: 1.75em;
}
/* line 273, ../sass/app.scss */
#content-wrapper h1 {
  margin: 0px 0 20px 0;
  font-weight: 700;
}

/* line 278, ../sass/app.scss */
.modules-overview {
  list-style: none;
  padding: 0;
}

/* line 283, ../sass/app.scss */
.module {
  margin: 0 0 10px 0;
}

/* line 287, ../sass/app.scss */
.module-detail-container {
  background: #ccc;
  height: 50px;
  max-height: 100px;
  padding: 15px;
}

/* CALENDAR
---------------------- */
/* line 297, ../sass/app.scss */
#calendar a {
  color: #fff;
}
/* line 299, ../sass/app.scss */
#calendar a:hover {
  color: #b6cdea;
}
/* line 303, ../sass/app.scss */
#calendar .fc-event {
  background: #00cde1;
  border: 0;
  padding: 5px;
  border-radius: 10px;
}
/* line 308, ../sass/app.scss */
#calendar .fc-event:hover {
  color: #108a98;
}
/* line 312, ../sass/app.scss */
#calendar .fc-state-highlight {
  background: #daf2ef;
}
/* line 315, ../sass/app.scss */
#calendar .fc-button {
  text-shadow: none;
  background: #556066;
  border: none;
  border-bottom: 3px solid #333333;
  color: white;
  text-shadow: none;
}
/* line 321, ../sass/app.scss */
#calendar .fc-button:hover {
  background: #00cde1;
}
/* line 41, ../sass/app.scss */
#calendar .fc-button:hover, #calendar .fc-button:focus {
  background: #00cde1;
  color: white;
  border-bottom: 3px solid #333333;
}
/* line 46, ../sass/app.scss */
#calendar .fc-button:active {
  border: none;
  position: relative;
  top: 3px;
  margin-bottom: 3px !important;
}
/* line 326, ../sass/app.scss */
#calendar .fc-state-disabled {
  color: #fff;
}
/* line 330, ../sass/app.scss */
#calendar .fc-state-active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #46ddea;
}
/* line 335, ../sass/app.scss */
#calendar .fc-header-title h2 {
  font-size: 25px;
  position: relative;
  bottom: 4px;
}
/* line 340, ../sass/app.scss */
#calendar .fc-widget-content {
  border-width: 0;
}
@media screen and (max-width: 1024px) {
  /* line 340, ../sass/app.scss */
  #calendar .fc-widget-content {
    border-width: 1px 0 0 1px;
  }
}
/* line 346, ../sass/app.scss */
#calendar thead tr.fc-first {
  color: #fff;
  text-transform: uppercase;
  height: 40px;
  text-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px;
}
/* line 351, ../sass/app.scss */
#calendar thead tr.fc-first th {
  vertical-align: middle;
}
/* line 354, ../sass/app.scss */
#calendar thead tr.fc-first .fc-mon, #calendar thead tr.fc-first .fc-tue, #calendar thead tr.fc-first .fc-wed, #calendar thead tr.fc-first .fc-thu, #calendar thead tr.fc-first .fc-fri {
  border: none;
}
/* line 357, ../sass/app.scss */
#calendar thead tr.fc-first .fc-sat, #calendar thead tr.fc-first .fc-sun {
  border: none;
}
/* line 361, ../sass/app.scss */
#calendar thead tr.fc-first .fc-widget-header {
  border: none;
}

/* line 368, ../sass/app.scss */
#calendar-bg {
  width: 100%;
  background: url("images/calendar-bg.jpg") repeat top left #556066;
  position: absolute;
  z-index: 1010;
  height: 207px;
  border-bottom: 40px solid #556066;
  top: 0;
  left: 0;
  /*@media screen and (-webkit-min-device-pixel-ratio:0){
    height: 205px;
  }*/
}
@media screen and (max-width: 768px) {
  /* line 368, ../sass/app.scss */
  #calendar-bg {
    height: 237px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 368, ../sass/app.scss */
  #calendar-bg {
    height: 205px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 768px) {
  /* line 368, ../sass/app.scss */
  #calendar-bg {
    height: 235px;
  }
}

/* line 393, ../sass/app.scss */
#calendar-content {
  position: relative;
  z-index: 1020;
}

/* line 398, ../sass/app.scss */
#addEvent {
  margin: 0 0 40px 0;
}
/* line 400, ../sass/app.scss */
#addEvent:active {
  margin: 0 0 43px 0 !important;
}

/* TABLE VIEWS (USERS, SCHOOLS, ...
---------------------- */
