/* line 22, ../sass/landing.scss */
* {
  box-sizing: border-box;
}

/* line 25, ../sass/landing.scss */
body {
  background: #fff;
  font-family: 'Open Sans', 'Helvetica', 'Arial';
  color: #556066;
}

/* line 30, ../sass/landing.scss */
a {
  color: #f50064;
}
/* line 32, ../sass/landing.scss */
a:hover {
  color: #f95a93;
}

/* line 36, ../sass/landing.scss */
img {
  max-width: 100%;
}

/* line 40, ../sass/landing.scss */
h2 {
  font-weight: 700;
}

/* line 71, ../sass/landing.scss */
.btn-educal-danger {
  background: #f50064;
  border: none;
  border-bottom: 3px solid #ab0046;
  color: white;
  text-shadow: none;
}
/* line 51, ../sass/landing.scss */
.btn-educal-danger:hover {
  background: #f95a93;
  color: white;
  border-bottom: 3px solid #ab0046;
  outline: none;
}
/* line 57, ../sass/landing.scss */
.btn-educal-danger:focus {
  background: #f50064;
  color: white;
  border-bottom: 3px solid #ab0046;
  outline: none;
}
/* line 63, ../sass/landing.scss */
.btn-educal-danger:active {
  border: none;
  position: relative;
  top: 3px;
  margin-bottom: 3px !important;
}

/* line 74, ../sass/landing.scss */
.btn-educal-warning {
  background: #e9e34b;
  border: none;
  border-bottom: 3px solid #c9c315;
  color: #333333;
  text-shadow: none;
}
/* line 51, ../sass/landing.scss */
.btn-educal-warning:hover {
  background: #edf48f;
  color: #333333;
  border-bottom: 3px solid #c9c315;
  outline: none;
}
/* line 57, ../sass/landing.scss */
.btn-educal-warning:focus {
  background: #e9e34b;
  color: #333333;
  border-bottom: 3px solid #c9c315;
  outline: none;
}
/* line 63, ../sass/landing.scss */
.btn-educal-warning:active {
  border: none;
  position: relative;
  top: 3px;
  margin-bottom: 3px !important;
}

/* line 77, ../sass/landing.scss */
.btn-educal-primary {
  background: #00cde1;
  border: none;
  border-bottom: 3px solid #108a98;
  color: white;
  text-shadow: none;
}
/* line 51, ../sass/landing.scss */
.btn-educal-primary:hover {
  background: #46ddea;
  color: white;
  border-bottom: 3px solid #108a98;
  outline: none;
}
/* line 57, ../sass/landing.scss */
.btn-educal-primary:focus {
  background: #00cde1;
  color: white;
  border-bottom: 3px solid #108a98;
  outline: none;
}
/* line 63, ../sass/landing.scss */
.btn-educal-primary:active {
  border: none;
  position: relative;
  top: 3px;
  margin-bottom: 3px !important;
}

/* line 83, ../sass/landing.scss */
.introduction-container {
  background: url("images/introduction_bg.jpg") center center no-repeat #39acb0;
  background-size: cover;
  color: #fff;
  height: 450px;
}

/* line 90, ../sass/landing.scss */
.introduction-content {
  text-align: center;
  display: table-cell;
  padding: 70px 0 0 0;
}
/* line 95, ../sass/landing.scss */
.introduction-content h1 {
  margin-bottom: 20px;
}
/* line 98, ../sass/landing.scss */
.introduction-content .lead {
  margin: 30px auto 0;
  max-width: 600px;
}
/* line 102, ../sass/landing.scss */
.introduction-content .button-container {
  margin: 32px 0;
}
/* line 104, ../sass/landing.scss */
.introduction-content .button-container .btn {
  margin: 0 10px;
}

/* line 112, ../sass/landing.scss */
.content-container {
  margin-top: 20px;
  margin-bottom: 50px;
}

/* line 117, ../sass/landing.scss */
#registerUserModal .alert {
  margin-bottom: 10px;
}
