.btn {
  display: inline-block;
  font-weight: 500;
  border: 0;
  background: none;
  text-decoration: none;
  padding: .5rem 1rem;

  transition: all 300ms;
}

.btn-primary {
  color: #ffffff;
  background: $brand;
}

.btn-success {
  color: #ffffff;
  background: #67af6a;
}

.btn-inverse {

  &.btn-primary {
    border: 1px solid $brand;
    background-color: #ffffff;
    color: $brand;
    &:hover {
      background-color: $brand;
    }
  }

  &.btn-success {
    border: 1px solid #67af6a;
    background-color: #ffffff;
    color: #67af6a;
    &:hover {
      background-color: #67af6a;
    }
  }

  &:hover {
    color: #ffffff;
  }
}

