.btn{
  display: inline-block;
  border: 0;
  background: none;
  text-decoration: none;
  padding: .5rem 1rem;
}
.btn-primary{
  color: #fff;
  background: $brand;
}

.btn-success {
  color: #ffffff;
  background: #67af6a;
}