nav {
  button {
    display: block;
    padding: 5px 0;
    margin: 0;
    font-weight: 400;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background: none;
    border: 0;
  }
  label {
    position: relative;
    display: block;
    padding: 5px 5px 5px 0;
    margin: 0;
    font-weight: 400;
    cursor: pointer;
    opacity: 0.8;
    &.active {
      opacity: 1;
    }
  }
  input[type=checkbox] {
    padding: 0;
    /* padding: 13px; */
    float: left;
    /* display: block; */
    height: 20px;
    margin-right: 0.5em;
  }
  .level--2 {
    padding-left: 20px;
  }
}
.input {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 20px;
  background: none;
  border: 0;
}
.fc-sat,
.fc-sun {
  background-color: #eee;
}
.fc.fc {
  .fc-toolbar {
    line-height: 40px;
    .fc-left {
      float: none;
    }
    .fc-button-group {
      margin-left: -1em;
      margin-right: -.5em;
    }
  }
  h2 {
    text-align: left;
    float: none!important;
    display: block;
  }
  .fc-button {
    height: auto;
    background: none;
    border: 0;
    font-weight: 500;
    text-transform: lowercase;
    box-shadow: none;
    color: #999;
    &.fc-state-active {
      color: #000;
    }
  }
}
.fc .fc-basic-view .fc-day-number {
  padding-top: 5px;
  padding-right: 8px;
  line-height: 24px;
}
.fc .fc-basic-view .fc-today{
  z-index: 5;
  color: #fff;
}
.fc .fc-basic-view .fc-bg .fc-state-highlight {
  position: relative;
  &::after {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    content: ' ';
    text-align: right;
    border-radius: 50%;
    width: 24px;
    line-height: 24px;
    height: 24px;
    text-align: center;
    font-weight: 500;
    color: #fff;
    margin: 5px;
    background-color: rgb(0, 196, 203);
  }
}
.fc .fc-basic-view .fc-today{
  background: none;
}
