$input-valid: #007b8a;
$input-invalid: #c83233;

.educal-form {

  .form-group {
    margin: 20px 0;
    label {
      width: 30%;
      display: inline-block;
      margin: 0;
      padding: 0;
      font-weight: 400;
      height: 34px;
      line-height: 34px;
    }

  }
  input {
    background-color: transparent;
  }
  input, button {
    width: 70%;
    float: right;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #909090;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 34px;

    &:invalid {
      border-bottom: 1px solid $input-invalid;

      &:after {
        color: $input-invalid;
        text-decoration: inherit;
        font-weight: 200;
        font-style: normal;
        content: '\00d7';
      }
    }
    &:valid {
      border-bottom: 1px solid $input-valid;
    }
  }
}