$gutter: 2em !default;
.nav {
  float: left;
  width: 200px;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 1em $gutter;
  line-height: 20px;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0 (-$gutter);
    line-height: 20px;
  }
  li {
    display: block;
  }
  a {
    display: block;
    padding: 0 $gutter;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    &:hover,
    &:focus {
      background: rgba(0,0,0,0.5);
    }
  }
}
