$gutter: 2em !default;
.nav {
  float: left;
  width: 200px;
  height: 100%;
  overflow: auto;
  @include flexbox;
  @include flex-direction(column);
  padding: 1em $gutter;
  line-height: 20px;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0 (-$gutter);
    line-height: 20px;
  }
  li {
    display: block;
  }
  a {
    display: block;
    padding: 10px $gutter;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    &:hover,
    &:focus {
      background: rgba(0,0,0,0.5);
    }
    &>.icon {
      float: left;
      margin-right: 0.5em;
    }
  }
  .logo{
    height: 80px;
    background: url(../images/logo_white.svg) no-repeat center;
  }
}

.sidebar-login {
  background-color: $brand;
}