.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 25em;
  max-width: 25em;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.6);
  box-shadow: 0 5px 40px rgba(0,0,0,.5);
  input[type=text] {
    padding: 10px 15px;
  }
  label {
    padding: 10px 15px;
    margin: 0;
    line-height: 20px;
    font-weight: 500;
  }
  button {
    color: #090;
    display: block;
    padding: 15px;
    line-height: 25px;
    height: 50px;
    margin: 0;
    width: 100%;
    text-align: right;
    vertical-align: middle;
    cursor: pointer;
    background: none;
    border: 0;
    text-transform: uppercase;
    font-weight: 500;
  }
  .dtpicker-dt {
    .input-date {
      padding-bottom: 0;
      height: 30px;
      outline:none;
    }
    .input-time {
      padding-top: 0;
      height: 30px;
      outline:none;
    }
  }
}
.popover-content {
  padding: 0;
}
.divider-btm {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0;
}
.backdrop {
  display: none;
  &.visible {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
  }
}
