// Variables
$gutter-popover: 15px !default;
$line-color: #ccc !default;

// Component
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 25em;
  max-width: 25em;
  padding: 0;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.6);
  box-shadow: 0 5px 40px rgba(0,0,0,.5);
  label {
    padding: 10px $gutter-popover;
    margin: 0;
    line-height: 20px;
    font-weight: 700;
    @include flex(0, 0, auto);
  }
  .has-input {
    display: block;
    padding: 10px $gutter-popover 0;
    .input {
      padding: 0 0 10px;
      height: auto;
      line-height: 20px;
      outline: none;
      font-weight: 400;
    }
  }
  button {
    display: block;
    padding: 15px $gutter-popover;
    line-height: 25px;
    height: 50px;
    margin: 0;
    width: 100%;
    text-align: right;
    vertical-align: middle;
    cursor: pointer;
    background: none;
    border: 0;
    text-transform: uppercase;
    font-weight: 500;
  }
  .btn-success {
    color: #090;
  }
  .btn-cancel {
    color: #888;
  }
  .btn-danger {
    color: #900;
  }
}
.dtpicker {
  @include flexbox;
  svg,
  label {
    @include flex(0, 0, auto);
    padding: 0 15px;
    line-height: 30px;
  }
  .input-date,
  .input-time {
    padding: 0;
    height: 30px;
    outline: none;
    position: relative;
    z-index: 5;
  }
}
.popover-content {
  padding: 0;
}
.divider-btm {
  border-bottom: 1px solid $line-color;
  margin: 0;
  padding: 0;
}
.backdrop {
  display: none;
  &.visible {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
  }
}
