// Component variables
$td-padding: 0.25em 0.5em !default;

// Default table
table {
  width: 100%;
  white-space: nowrap;
  tr {
    transition: background 2s;
  }
  .saved {
    transition: none;
    background: green;
  }
  .error {
    transition: background 0.5s;
    background: red;
  }
  .dirty {
    background: yellow;
  }
}
th {
  text-align: left;
  padding: 0.5em;
}
td {
  border-top: 1px solid #ccc;
  padding: $td-padding;
  line-height: 1.5em;
  height: 2em;
}
.td-checkbox {
  width: 30px;
  padding: 0;
  text-align: center;
  background: orange;
  @include user-select(none);
  label {
    display: block;
    padding: $td-padding;
  }
}
.td-checkbox--active {
  background: lightgreen;
}
.td-inp {
  padding: 0;
  &>label {
    display: block;
  }
  input {
    padding: $td-padding;
    width: 100%;
    height: 32px;
    border: 0;
    background: none;

    // Effect while editing
    &:focus {
      outline: none;
      background: #eee;
    }
    &.ng-invalid {
      background: #faa;
    }
  }
}
.td-btn {
  cursor: pointer;
  text-transform: uppercase;
  background: $brand;
  color: #fff;
  &:hover {
    background: #000;
  }
}
